@using Models

@model IEnumerable<Category>
@{
    ViewData["Title"] = "Categories";
}

<h2>@ViewData["Title"]</h2>
<div class="row">
    @if (Model.Any())
    {
        foreach (Category category in Model)
        {
            <div class="col-md-3">
                <figure class="figure border">
                    @if (string.IsNullOrWhiteSpace(category.ImageUrl))
                    {
                        <img src="~/images/imagenotavailable1-39de324.png" alt="Missing image" class="figure-img img-fluid" />
                    }
                    else
                    {
                        <img src="@category.ImageUrl" alt="@category.ImageAlt" class="figure-img img-fluid" />
                    }
                    <figcaption class="figure-caption m-1"><h3>@category.Name</h3></figcaption>
                </figure>
            </div>
        }
    }
    else
    {
        <div class="col-md-12">
            <p>There are no items to show.</p>
        </div>
    }
</div>